@use "../libs/presets" as *;
@use "../libs/mixins" as *;

.experience {
  padding-top: 80px;
  padding-bottom: 40px;

  background-color: $color-primary;

  &__container {
    @extend %container;
  }
}