@use "../libs/presets" as *;
@use "../libs/mixins" as *;

.team {
  position: relative;

  margin-top: 40px;
  margin-left: 60px;
  margin-right: 60px;
  padding-bottom: 80px;

  @include xx-ux {
    margin-left: 20px;
    margin-right: 20px;
  }

  &__container {
    width: min(100% - $gap-xl/2, $container-width);
    margin-inline: auto;

    display: flex;
    background: $color-gray-bg;
    
    .photo-container {
      @include xx-ux {
        position: absolute;
        top: 386px;
        margin-left: 20px;
      }
      .photo {
        border: 1px solid $color-accent;
        border-radius: 12px 0px 0px 12px;

        @include xx-ux {
          width: 60px;
          height: 60px;
          border-radius: 120px;
        }
      }
    }

    .description-container {
      @include xx-ux {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
      } 

      padding-top: 40px;
      padding-left: 40px;
      padding-right: 40px;
      
      a {
        letter-spacing: 1px;
        text-transform: uppercase;

        font-size: 14px;
        color: $color-active;

        &::after {
          display: inline-block;
    
          width: 12px;
          height: 12px;
    
          content: "";
          transform: translate(2px, 1px);
          background-image: url(../img/LiinkArrow1.svg);
        }
      }
        
      .description-content {

        @include text-liner-gradient(true);
        @include sm-min {
          font-size: 42px;
        }
        @include sm {
          font-size: 32px;
        }
      }

      &__person {
        margin-top: 20px;
        @include xx-ux {
          margin-left: 75px;
          margin-top: 15px;
        }
        font-size: $font-size-bg;
        color: $color-gray-bg-text;
      } 

      &__person-title {
        margin-top: 5px;
        @include xx-ux {
          margin-left: 75px;
          margin-bottom: 27px;
        }
        font-size: $font-size;
        color: $color-gray-bg-text;
      }
    }
  }
}
